<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDesc }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Favicon -->

  <!-- Open Graph tags -->
  <meta property="og:title" content="{{#if OGtitle}}{{OGtitle}}{{else}}{{ pageTitle }}{{/if}}"/>
  <meta property="og:description" content="{{#if OGdesc}}{{OGdesc}}{{else}}{{ pageDesc }}{{/if}}"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>

  <link rel="canonical" href="/"/>

  <link rel="stylesheet" href="/_assets/css/main.css?v={{ global.version }}">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <script src="/_assets/js/vendors.js?v={{ global.version }}"></script>

</head>

  <body {{#if pageID}}id="{{pageID}}"{{/if}}>
